$colors: (
    'common': (
        'white': #ffffff,
        'black': #141f39,
        '3': #303334,  
    ),
    'heading': (
        '1': #141f39,
        '2': #131313,
        '3': #030303,
        '4': #01313d,
        '5': #1c231f,
        '6': #2d2928,
    ),
    'grey': (
        '1':#4f4f4f,
        '2':#6a6a6a,
        '3':#6e6e75,
        '4':#67677a,
        '5':#6f70e9,
        '6':#898af2,
        '7':#f0f4fd,
        '8':#868d98,
        '9':#767676,
        '10':#ebeaff,
        '11':#2f323a,
        '12':#dee4f1,
        '13':#80858f,
        '14':#2a2d34,
        '15':#848587,        
        '16':#82828a,
        '17':#75726f,        
    ),
    'dark': (
        '1'#1c263e,
        '2'#131313,
        '3'#000000,
        '4'#262b35,
        '5'#1c231f,
        '6'#23262d,
        '7'#1f1032,
        '8'#020202,
    ),
    'white': (
        '1':#000,
    ),
    'orange': (
        '1': #fbf7ec,
        '3': #fff7e3,
        '4': #fff0e3,
        '5': #fff9f3,  
    ),
    'blue': (
        '1': #e3f4fe,
        '2': #b1c2bf,
        '3': #03362e,
        '4': #278173,
        '5': #9b6cff,
        '6': #6222cc,    
    ),
    'border': (
        '1': #ececec,
        '2': #e8e8e8,
        '3': #eeeeee,
    ),
    'yellow': (
        '1': #ffc737,
        '2': #ff8c24,
        '3': #ff673d,
        '4': #fe744e,     
    ),
    'green': (
        '2': #009874,
        '3': #007f61, 
        '4': #648d86,
        '5': #032721,
        '6': #dafdef,
        '7': #b4ebd5, 
        '8': #17bd37,
        '9': #b0ecc9,
        '10': #1ec15f,
    ),
    'theme': (
        'primary': #007f61,
        'secondary': #ff965a,
        '03':#dafdef,
        '04':#5758d6,
        '05':#6155ff,
        '06':#18bcc7,
        '07':#dafdff,
        '08':#da121f,
        '09':#e6f972,
        '10':#28cdc5,
        '11':#63ab45,     
        '12':#f7921e,
        '13':#e93172,
        '14':#f5f2ef, 
    ),
);

$white : #fff;
$black : #141f39;
$theme-primary : #0989FF;
$border-primary : #EAEBED;