@use '../utils' as *;

/*----------------------------------------*/
/*  2.4 body
/*----------------------------------------*/

.tp-body{
    &-shape{
       &-img{
            top: 0;
            left: 0;
            z-index: -1;
            @media #{$xl,$lg,$md,$sm,$xs} {
                width: 90%;
            }
            &-2{
                right: 0;
                z-index: -1;
                top: 0;
                @media #{$sm,$xs} {
                    width: 90%;
                }
            }
       }
    }
}