@use '../../utils' as *;

/*----------------------------------------*/
/*  7.22 pricing css
/*----------------------------------------*/

.tp-pricing{
    &-wrapper{
        padding: 10px;
        background:  var(--tp-theme-primary);
        margin-right: 30px;
        @media #{$md,$sm,$xs}{
            margin-right: 0;
        }
        &-2{
            filter: drop-shadow(0 0 30px rgba(33,22,80,0.06));
            background: var(--tp-common-white);
        }
    }
    &-title{
        &-pre{
            font-size: 16px;
            letter-spacing: 0px;
            line-height: 30px;
            color: var(--tp-green-3);
            font-weight: 700;
            display: block;
        }
        &-spacing{
            @media #{$sm,$xs}{
                margin-bottom: 0;
            }
        }
    }
    &-section{
        &-title{
            @media #{$md,$sm,$xs}{
                & br{
                    display: none;
                }
            }
        }
    }
    &-badge{
        line-height: 1;
        margin-bottom: 14px;
        color: var(--tp-green-3);
        font-size: 20px;
        &-2{
            color: var(--tp-theme-secondary);
        }
    }
    &-price{
        font-size: 42px;
        letter-spacing: -2px;
        line-height: 30px;
        color: var(--tp-green-3);
        font-weight: 700;
        &-2{
            color: var(--tp-theme-secondary);
        }
        &-packege{
            line-height: 1;
            margin-bottom: -7px;
            &-2{
                color: var(--tp-theme-secondary);
            }
        }
        &-wrapper{
            top: 50%;
            transform: translateY(-50%);
            left: 40px;
        }
        &-inner{
            display: flex;
            align-items: center;
            color: var(--tp-green-3);
            font-size: 20px;
            font-weight: 600;
        }
    }
    &-policy{
        top: 50%;
        transform: translateY(-50%);
        right: -40px;
        @media #{$md,$sm,$xs}{
            right: 0;
        }
        &-2{
            background: var(--tp-common-black);
        }
    }
    &-map{
        right: -10px;
        top: 0;
        z-index: -1;
    }
    &-feature{
        padding: 30px 40px 33px 40px;
        z-index: 1;
        @media #{$xs}{
            padding: 30px 20px 33px 20px;
        }
        & ul{
            & li{
                line-height: 30px;
                color: var(--tp-common-white);
                margin-bottom: 3px;
                display: flex;
                & span{
                    margin-right: 10px;
                }
            }
        }
        &-2{
            & ul{
                &  li{
                    color: var(--tp-grey-1);
                    & span{
                        color: var(--tp-green-3);
                    }
                }
            }
        }
    }
    &-shape{
        bottom: 310px;
        right: 120px;
        &-2{
            bottom: 227px;
            right: 177px;
        }
        &-3{
            right: 50px;
            bottom: 170px;
        }
    }
    &-main{
        @media #{$lg} {
            margin-left: 150px;
        }
        &-btn{
            width: 60px;
            height: 114px;
            border-radius: 30px;
            background-color: var(--tp-theme-secondary);
            justify-content: center;
            & button{
                width: 44px;
                height: 44px;
                background-color: var(--tp-common-white);
                font-size: 18px;
                border-radius: 50%;
                letter-spacing: 0px;
                line-height: 20px;
                color: var(--tp-common-white);
                font-weight: 700;
                padding: 0;
                margin-left: 8px;
                position: relative;
                transition: all .5s ease;
                &:hover{
                    color: var(--tp-common-black);
                }
            }
            &.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
                color: var(--tp-green-3);
                background-color: var(--tp-common-white);
                border-radius: 50%;
                color: var(--tp-common-black);
                & .tp-pricing-date{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    &-date{
        position: absolute;
        padding: 0 10px;
        height: 26px;
        border-radius: 13px;
        background-color: var(--tp-theme-secondary);
        font-size: 14px;
        line-height: 25px;
        color: var(--tp-common-white);
        font-weight: 700;
        left: 62px;
        opacity: 0;
        visibility: hidden;
    }
    &-flex{
        @media #{$lg} {
            display: flex;
        }
    }
    &-head{
        padding: 40px;
        padding-bottom: 0;
    }
    &-home{
        &-wrapper{
            filter: drop-shadow(0 0 30px rgba(31,16,50,0.08));
            background-color: var(--tp-common-white);
        }
        &-icon{
            font-size: 54px;
            color: var(--tp-yellow-3);
            width: 120px;
            height: 120px;
            border-radius: 60px;
            background-color: var(--tp-grey-7);
            display: inline-block;
            text-align: center;
            line-height: 130px;
            margin-bottom: 25px;
            &-2{
                color: var(--tp-theme-04);
            }
        }
        &-title{
            font-size: 36px;
            letter-spacing: -1px;
            line-height: 28px;
            color: var(--tp-dark-6);
            margin-bottom: 45px;
        }
        &-feature{
            margin-bottom: 37px;
            & ul{
                & li{
                    border-top: 1px solid #e6e6e6;
                    margin-top: 13px;
                    padding-top: 12px;
                    padding-left: 60px;
                    display: flex;
                    @media #{$md,$sm}{
                        padding-left: 35px;
                    }
                    @media #{$xs}{
                        padding-left: 20px;
                    }
                    & i{
                        font-size: 14px;
                        color: var(--tp-theme-04);
                        margin-right: 11px;
                        transform: translateY(4px);
                    }
                    & span{
                        font-size: 18px;
                        line-height: 30px;
                        color: var(--tp-grey-8);
                        font-weight: 500;
                    }
                }
            }
        }
        &-btn{
            background: var(--tp-dark-6);
            padding: 16px 74px;
            display: inline-block;
            font-size: 16px;
            letter-spacing: 0px;
            line-height: 24px;
            color: var(--tp-common-white);
            font-weight: 700;
            &:hover{
                color: var(--tp-common-white);
            }
            &-2{
                background-image: linear-gradient(72deg, #5757d5 0%, #ff673d 100%);
                display: block;
                font-size: 16px;
                line-height: 28px;
                color: var(--tp-common-white);
                font-weight: 600;
                padding: 10px;
                text-align: center;
            }
            &:hover{
                background: var(--tp-theme-04);
            }
        }
        &-price{
            &-wrapper{
                padding: 30px 0;
                &-2{
                    background: var(--tp-dark-6);
                    & .tp-pricing-home-price h3{
                        color: var(--tp-common-white);
                    }
                    & .tp-pricing-home-btn{
                        background: var(--tp-theme-04);
                    }
                }
            }
            & h3{
                font-size: 42px;
                letter-spacing: -2px;
                line-height: 30px;
                color: var(--tp-dark-6);
                display: flex;
                justify-content: center;
                & .tp-dolar{
                    align-items: flex-start;
                    margin-top: 0;
                }
            }
            & span{
                font-size: 24px;
                margin-top: 8px;
                line-height: 1;
            }
        }
    }
    &-health{
        padding: 60px;
        background: var(--tp-common-white);
        filter: drop-shadow(0 0 30px rgba(24,5,54,0.08));
        padding-top: 52px;
        padding-bottom: 48px;
        padding-right: 40px;
        z-index: 1;
        @media #{$md,$xs} {
            padding: 25px;
            padding-top: 17px;
        }
        &-title{
            font-size: 22px;
            letter-spacing: -1px;
            line-height: 30px;
            color: var(--tp-common-3);
        }
        &-head{
            & p{
                color: var(--tp-grey-15);
            }
            &-optional{
                & .tp-pricing-health-title{
                    color: var(--tp-common-white);
                }
                & p{
                    color: var(--tp-common-white);
                }
            }
        }
        &-price{
            &-title{
                font-size: 38px;
                letter-spacing: -2px;
                line-height: 60px;
                color: var(--tp-common-3);
                font-weight: 800;
                margin-bottom: 30px;
                & span{
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;
                    color: var(--tp-common-3);
                    letter-spacing: 1px;
                }
                &-optional{
                    color: var(--tp-common-white);
                    & span{
                        color: var(--tp-common-white);
                    }
                }
            }
        }
        &-shape{
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            z-index: -1;
        }
        &-optional{
            background: var(--tp-theme-06);
        }
        &-btn{
            & a{
                border: 1px solid #e6e6e6;
                width: 100%;
                height: 60px;
                display: inline-block;
                text-align: center;
                line-height: 60px;
                font-size: 16px;
                color: var(--tp-common-3);
                font-weight: 700;
                transition: all .4s ease;
                &:hover{
                    background: var(--tp-common-3);
                    color: var(--tp-common-white);
                }
            }
            &-optional{
                & a{
                    background: var(--tp-common-white);
                    &:hover{
                        border: 1px solid transparent;
                    }
                }
            }
        }
        &-feature{
            & ul{
                & li{
                    font-family: var(--tp-ff-common);
                    line-height: 30px;
                    color: var(--tp-grey-15);
                    display: flex;
                    & i{
                        font-size: 15px;
                        color: var(--tp-theme-06);
                        margin-right: 8px;
                    }
                }
            }
            &-optional{
                & ul{
                    & li{
                        color: var(--tp-common-white);
                        & i{
                            color: var(--tp-common-white);
                        }
                    }
                }
            }
        }
    }
    &-details{
        & .tp-pricing-health-title{
            color: var(--tp-common-black);
        }
        & .tp-pricing-health-head{
            & p{
                color: var(--tp-grey-1);
            }
        }
        & .tp-pricing-health-price-title{
            color: var(--tp-common-black);
            & span{
                color: var(--tp-common-black);
            }
        }
        & .tp-pricing-health-btn{
            & a{
                color: var(--tp-common-black);
                filter: drop-shadow(0 0 30px rgba(24,5,54,0.08));
                border-color: #e6e6e6;
                &:hover{
                    color: var(--tp-common-white);
                }
            }
        }
        & .tp-pricing-health-feature ul li {
            color: var(--tp-grey-1);
        }
        & .tp-pricing-health-feature ul li i {
            color: var(--tp-green-3);
        }
        &-optional{
            background: var(--tp-green-3);
            & .tp-pricing-health-btn-optional a {
                background: var(--tp-theme-secondary);
                border-color: var(--tp-theme-secondary);
                &:hover{
                    background: var(--tp-common-black);
                    border-color: var(--tp-common-black);
                }
            }
        }
    }
}

